*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    margin:0;
    padding:0;
}
body{
    background-color:rgba(0, 0, 0, 0.815);
    color: whitesmoke;
    font-family: 'Arvo', serif;
    margin:0;
    padding:0;
}

.container{
    height:80vh;
    width:40vw;
    margin: 2rem auto;
    max-width: 100%;
}
h1{
    font-size:4rem;
    text-align: center;
}
input{
    display:block;
    margin: 2rem auto;
    font-size:2rem;
    width:100%;
    box-sizing: border-box;
    background-color:transparent;
    padding-bottom:1rem;
    border:none;
    color:white;
}

input::placeholder{
    color:white;
}

input:active, input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #EF0202;
}

button{
    width:100%;
    font-size:1.5rem;
    line-height: 4rem;
    outline:0;
    border:none;
    cursor:pointer;
    border-radius:5px;
    background-color:teal;
    color:white;
}

.contact{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.contact h3 {
    font-size:2rem;
}

.contact div{
    font-size: 1.5rem;
}

.icon{
    cursor:pointer;
}

.delete-button{
    color:red;
}
.edit-button{
    color:white;
}

.error-message{
    color:red;
    font-size:2rem;
    display:none;
}

.edit-menu{
    background-color:whitesmoke;
    width:25%;
    border-radius:5px;
    padding:2rem;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.edit-menu input{
    background-color:rgba(0, 0, 0, 0.815);
    border-radius:5px;
    padding:1rem;
   
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }

@media screen and (max-width:1024px){
    .container{
        width:70vw;
    }
}
@media screen and (max-width:768px){
    .container{
        width:100vw;
   
    }
}